.header {
      background-color: #29A19C;
        position: fixed;
     z-index: 10;
    top: 0px;
    left: 0px;
    right: 0px;
max-width: 100%;
max-height: 170px;
    border: 1px solid #ccc;
padding-top: 40px;
    padding-left: 40px;
    margin: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.social_btns {
    position: absolute;
    top: 47px;
    right: 0px;
    margin: 0px;
padding: 0px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-top-color: -moz-use-text-color;
    border-right-color: -moz-use-text-color;
    border-bottom-color: -moz-use-text-color;
    border-left-color: -moz-use-text-color;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image-source: none;
    border-image-slice: 100% 100% 100% 100%;
    border-image-width: 1 1 1 1;
    border-image-outset: 0 0 0 0;
    border-image-repeat: stretch stretch;
outline: 0px none;
    outline-width: 0px;
    outline-style: none;
    outline-color: -moz-use-text-color;
font-size: 100%;
vertical-align: baseline;
}

.social_btns ul {
    list-style: outside none none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
}

.social_btns li {
    float: left;
    margin: 0px 0px 0px 5px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 5px;
   }

.social_btns ul > li {
    display: inline-block;
}

.social_btns li.btn_twitter a {
    background-position: -44px -1px !important;
    background: transparent url("sprite_icon.png") no-repeat scroll 0% 0% / auto 87px;
}

.social_btns li a {
        background-color: transparent;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto 87px;
}

.social_btns a {
    display: block;
    width: 42px;
    height: 43px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-right: 0px;
        color: white;
    outline: medium none;
        outline-width: medium;
        outline-style: none;
        outline-color: -moz-use-text-color;
    text-decoration: underline;
        text-decoration-color: -moz-use-text-color;
        text-decoration-line: underline;
        text-decoration-style: solid;
}

.social_btns li.btn_vk a {
    background-position: -87px -1px !important;
    background: transparent url("sprite_icon.png") no-repeat scroll 0% 0% / auto 87px;
}

.social_btns li.btn_facebook a {
    background-position: -130px -1px !important;
    background: transparent url("sprite_icon.png") no-repeat scroll 0% 0% / auto 87px;
}

.social_btns li.btn_youtube a {
    background-position: -173px -1px !important;
    background: transparent url("sprite_icon.png") no-repeat scroll 0% 0% / auto 87px;
}

.social_btns li.btn_instagram a {
    background-position: -259px -1px !important;
    background: transparent url("sprite_icon.png") no-repeat scroll 0% 0% / auto 87px;
}

.ite-conferences {
    padding: 0px;
    width: 100%;
    height: 500px;
    min-height: 500px;
    position: relative;
    z-index: 3;
    margin-top:400px;
}

nav #menu {
    display: inline-block;
    text-align: center;
    max-height: 50px;
    max-width: 100%;
    padding top: 0px;
    padding-right: 50px;
    padding-left: 50px;
}

h1 a {
    color: white;
    font-family:"Josefin Sans", cursive;
    font-size: 1.3em;
    text-align:left;
    padding: 5px;
}

h1 a:hover {
	font-size: 1.5em; 
    font-weight: bold;
    color: white;
}

h4 a {
    color:white;
    font-family: "Josefin Sans",sans-serif;
    font-size: 1em;
    clear:both;
    text-align:left;
    padding:5px;
}

h4 a:hover {
	font-size: 1.2em; 
    font-weight: bold;
    color: white;
}

ul {
    text-align: center;
    margin-top:  0px;
    margin-bottom: 0px;
    padding-left: 0px;
    height: 40px;
}

ul li {
    font: 1.13em "Josefin Sans",sans-serif;
	cursor: pointer;
    -webkit-transition: padding .05s linear;
	-moz-transition: padding .05s linear;
	-ms-transition: padding .05s linear;
	-o-transition: padding .05s linear;
	transition: padding .05s linear;
}
ul li.drop {
	position: relative;
}
ul > li {
	display: inline-block;
    height: auto;
}
ul li a {
	line-height: 10px;
	padding: 10px;
	height: 10px;
	color: gainsboro;
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}
ul li a:hover {
	color:#60316e;
}

ul li a:active {
    text-decoration: underline; 
   }

.dropOut .triangle {
	width: 0;
	height: 0;
	position: absolute;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid white;
	top: -8px;
	left: 50%;
	margin-left: -8px;
}
.dropdownContain {
	position: absolute;
	z-index: 2;
	left: 50%;
	margin-left: -80px; /* half of width */
	top: -400px;
}
.dropOut {
	width: 160px;
    height: 240px;
	background: white;
	float: left;
	position: relative;
	margin-top: 0px;
	opacity: 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-moz-box-shadow: 0 1px 6px rgba(0,0,0,.15);
	box-shadow: 0 1px 6px rgba(0,0,0,.15);
	-webkit-transition: all .1s ease-out;
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.dropOut ul {
	float: left;
	padding: 10px 0;
}
.dropOut ul li {
	text-align: left;
	float: left;
	width: 125px;
	padding: 12px 0 10px 15px;
	margin: 0px 10px;
	color: #60316e;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-transition: background .1s ease-out;
	-moz-transition: background .1s ease-out;
	-ms-transition: background .1s ease-out;
	-o-transition: background .1s ease-out;
	transition: background .1s ease-out;
}

.dropOut ul li:hover {
	background-color: #E1E3E4;
}

ul li:hover .dropdownContain { top: 65px; }
ul li:hover .underline { border-bottom-color: #777; }
ul li:hover .dropOut { opacity: 1; margin-top: 8px; }
a {   
    text-decoration: none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.42857;
    background: transparent none repeat scroll 0% 0%;
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
}

body {
    margin: 0px;
}

.ite-event-registration-bg, .itw-offer-bg {
    background: #EBEDEE none repeat scroll 0% 0%;
        background-color: #EBEDEE;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
}

.wrapper {
    min-width: 330px;
    max-width: 100%;
    margin: 0px auto;
    min-height: 100%;
    margin-top: 210px;
    height: auto !important;
    font-family: "RalewaySemiBold";
    padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    box-sizing: border-box;
    background-image: url(%D0%93%D0%B4%D0%B5-%D0%BA%D1%83%D0%BF%D0%B8%D1%82%D1%8C-%D0%BA%D0%BE%D0%BD%D1%82%D0%B5%D0%BD%D1%82-%D0%B4%D0%BB%D1%8F-%D1%81%D0%B0%D0%B9%D1%82%D0%B0-%D0%91%D0%B8%D1%80%D0%B6%D0%B8-%D0%BA%D0%BE%D0%BD%D1%82%D0%B5%D0%BD%D1%82%D0%B0.jpg);
    background-size: cover;
        }

section {
    display: block;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    font-family: "RalewaySemiBold";
    font-size: 14px;
line-height: 1.42857;
color: #333;
    }

.ite-event-registration .container {
    max-width: 770px;
}

.container {
    max-width: 1170px;
    margin: 0px;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    padding: 0px;
    padding-top: 0px;
    padding-left: 15px;
    padding-bottom: 0px;
    padding-right: 15px;
    box-sizing: border-box;
    }

.ite-event-registration .ite-reg-tabs .ite-tabs {
    width: 100%;
    margin: 0px;
        margin-top: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        margin-left: 0px;
    text-align: center;
}

ul {
    list-style: outside none none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
    box-sizing: border-box;
}

.ite-event-registration .ite-reg-tabs .ite-tabs li.active {
    background: #FFF none repeat scroll 0% 0%;
        background-color: #FFF;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    color: #584f84;
}

.ite-event-registration .ite-reg-tabs .ite-tabs li {
    width: 50%;
    height: 80px;
    float: left;
    font-family: "RalewayExtraBold";
    font-size: 25px;
        text-transform: uppercase;
    padding: 15px 0px;
    padding-top: 15px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    display: inline-block;
    box-sizing: border-box;
}

.ite-event-registration .ite-reg-tabs .ite-tabs li.active .ite-toggle-ite {
    color: #E23932;
    font-size: 18px;
line-height: 36px;
text-transform: uppercase;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

.ite-event-registration .ite-registration {
    background: #FFF none repeat scroll 0% 0%;
        background-color: #FFF;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    padding: 30px;
        padding-top: 30px;
        padding-right: 30px;
        padding-bottom: 30px;
        padding-left: 30px;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 80px;
    margin-left: 0px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
}

.fade.in {
    opacity: 1;
    transition: opacity 0.15s linear 0s;
        transition-property: opacity;
        transition-duration: 0.15s;
        transition-timing-function: linear;
        transition-delay: 0s;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    box-sizing: border-box;
}

.ite-event-registration .ite-registration .ite-reg-content {
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 15px;
    padding-left: 0px;
    border-bottom: 1px solid #E5E5E5;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #E5E5E5;
    box-sizing: border-box;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
    box-sizing: border-box;
}

.col-sm-12 {
    width: 100%;
    float: left;
    position: relative;
min-height: 1px;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
padding: 0px;
    padding-top: 0px;
padding-left: 15px;
    padding-bottom: 0px;
padding-right: 15px;
    box-sizing: border-box;
}

.ite-event-registration .ite-registration .ite-reg-data-content .ite-reg-input {
    display: block;
    width: 645px;
    height: 44px;
    border: medium none;
        border-top-width: medium;
        border-right-width: medium;
        border-bottom-width: medium;
        border-left-width: medium;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        border-top-color: -moz-use-text-color;
        border-right-color: -moz-use-text-color;
        border-bottom-color: -moz-use-text-color;
        border-left-color: -moz-use-text-color;
        -moz-border-top-colors: none;
        -moz-border-right-colors: none;
        -moz-border-bottom-colors: none;
        -moz-border-left-colors: none;
        border-image-source: none;
        border-image-slice: 100% 100% 100% 100%;
        border-image-width: 1 1 1 1;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
    background: #F7F7F7 none repeat scroll 0% 0%;
        background-color: #F7F7F7;
        background-image: none;
        background-repeat: repeat;
        background-attachment: scroll;
        background-position: 0% 0%;
        background-clip: border-box;
        background-origin: padding-box;
        background-size: auto auto;
    font-family: "RalewayBold";
    margin-bottom: 15px;
    border-radius: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
    padding: 5px 18px;
        padding-top: 5px;
        padding-right: 18px;
        padding-bottom: 5px;
        padding-left: 18px;
}

input {
    outline: medium none;
        outline-width: medium;
        outline-style: none;
        outline-color: -moz-use-text-color;
    font-size: inherit;
    color: inherit;
font: inherit;
    line-height: inherit;
    ont-style: inherit;
font-weight: inherit;
        font-size-adjust: inherit;
    font-stretch: inherit;
    -x-system-font: none;
    font-feature-settings: inherit;
    font-language-override: inherit;
    font-kerning: inherit;
    font-synthesis: inherit;
    font-variant-alternates: inherit;
    font-variant-caps: inherit;
    font-variant-east-asian: inherit;
    font-variant-ligatures: inherit;
    font-variant-numeric: inherit;
    font-variant-position: inherit;
margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.ite-event-registration .ite-registration .ite-reg-data-content .ite-required-fields {
    color: #BABABA;
    font-size: 13px;
    font-family: "RalewayBold";
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 15px;
        margin-left: 0px;
padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.ite-event-registration .ite-registration .ite-reg-data-content .ite-required-fields span {
    font-size: 20px;
}

.ite-event-registration .ite-btn-wrap {
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}


.ite-btn-wrap .ite-btn.red-text {
    color: white;
}

.ite-btn-wrap .ite-btn {
    display: inline-block;
    border-radius: 5px;
    background-color: #38486f;
    border-color: #38486f;
    font-family: "RalewayExtraBold";
font-size: 13px;
text-transform: uppercase;
padding: 13px 24px;
    padding-top: 13px;
    padding-right: 24px;
    padding-bottom: 13px;
    padding-left: 24px;
transition: background 0.3s ease 0s;
    transition-property: background;
    transition-duration: 0.3s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

input[type="submit"] {
    cursor: pointer;
    outline: medium none;
    outline-width: medium;
    outline-style: none;
    outline-color: -moz-use-text-color;
    line-height: inherit;
    font: inherit;
    font-style: inherit;
font-weight: inherit;
    font-size-adjust: inherit;
font-stretch: inherit;
-x-system-font: none;
font-feature-settings: inherit;
font-language-override: inherit;
font-kerning: inherit;
font-synthesis: inherit;
font-variant-alternates: inherit;
font-variant-caps: inherit;
font-variant-east-asian: inherit;
font-variant-ligatures: inherit;
font-variant-numeric: inherit;
font-variant-position: inherit;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    box-sizing: border-box;
}

.ite-event-registration .ite-bottom-text {
    font-size: 12px;
    font-family: "RalewayBold";
    color: #584f84;
    margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}






